{% extends 'educational_tool/base.html' %}
{% load staticfiles %}

{% block head %}	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'codejutsu/css/style.css' %}">

{% endblock %}

<body>
  <div class="wrapper">
        {% block header_block %}
        CodingJutsu
		  {% endblock %}
	


		<!-- Add your content here -->


  {% block body_block %}
  <main>
		<div class="container">

       <div>{% if user.is_authenticated %}
          <h1>Hi {{ user.username }}, Welcome to Coding Jutsu!</h1>
              {% else %}
              <h1>Welcome to Coding Jutsu!</h1>
              {% endif %}
          </div>
      
      <p class="description">
        Our website is the ultimate learning resource for pre-university students who want to learn how to code! We've curated a collection of cognitive learning resources from across the internet and brought them together in one convenient place to help you master the concepts of programming and coding in Python.
      </p>
      <div class="cta-container">
        <a href="{% url 'educational_tool:register' %}" class="cta-button">Start Learning</a>
      </div>
    </div>
    
    <br>

    <div style="display: flex; justify-content: center;">
      <iframe width="600" height="315" src="https://www.youtube.com/embed/Dv7gLpW91DM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </main>
	

  <!-- <div class="buttonlink">
    <script>
      function playVideo() {
          var videoId = document.getElementById("menu").value;
          var url = "https://www.example.com/videos/" + videoId;
          window.location.href = url;
      }
      document.getElementById("menu").onchange = playVideo;
  </script>
  </div> -->

	<!-- <footer>
		<p>&copy; 2023 CodingJutsu  </p>
	</footer> -->

	<script src="script.js"></script>
</div>
</body>
{% endblock %}

{% block footer_block %}
		<p>&copy; 2023 CodingJutsu  </p>
{% endblock %}
    
