<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Educational_Tool</title>
    </head>
    <body>
        <h1>Educatinal tool says...</h1>
        <div>
        time to learn! <br />
        <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            {% if categories %}
                <ul>
                {% for category in categories %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                    <a href="/educational_tool/category/{{ category.slug }}/">{{ category.name }}</a>
                </li>
                {% endfor %}
                </ul>
            {% else %}
             <strong>There are no categories present.</strong>
            {% endif %}
        </div>
            



        <div>
        <a href="/educational_tool/about/">About</a><br />
        <img src="{% static 'images/superhero_vs.png' %}"
        alt="Picture of vs code hero" /> <!-- New line -->
        </div>
    </body>

</html>