{% extends 'educational_tool/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ video.title }}
{% endblock %}


{% block heading_block %}
    {{ video.title }}
{% endblock %}

{% block body_block %}


   
    <!-- <iframe id="embed-video" src="https://www.youtube.com/embed/{{ v_id }}rel=0"></iframe> -->
    <div style="display: flex; justify-content: center; display: block;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    
{% endblock %}
